---
import Layout from '../layouts/Layout.astro';
import "../style/nav_footer.css";
import "../style/index_style.css";
---

<Layout title="Idot2103">
	<main>
		<h1>ABOUT</h1>

		<article>
			<h2>Moin moin ich bins Se</h2>
			<p>Joa ergibt net viel Sinn das zu haben nh?</p>
			</article>
	</main>
</Layout>