---
import Layout from '../layouts/Layout.astro';
import "../style/nav_footer.css";
import "../style/index_style.css";
---

<Layout title="Idot2103">
	<main>
		<h1>ABOUT</h1>

		<article>
			<h2>Inspiration from:</h2>
			
			<li><a href="https://www.sydneyplantguy.com/" target="_blank">Sydney Plant Guy</a> | <a href="https://www.youtube.com/@sydneyplantguy" target="_blank">YouTube</a></li>
			<li><a href="https://www.serpadesign.com/" target="_blank">Serpadesign</a> | <a href="https://www.youtube.com/@SerpaDesign" target="_blank">YouTube</a></li>
			
		</article>
	</main>
</Layout>