---
import Layout from '../layouts/Layout.astro';
import "../style/nav_footer.css";
import "../style/index_style.css";
---

<Layout title="Idot2103">
	<main>
		<h1>ABOUT</h1>

		<article>
			<!-- List of inspiration for the hobby and sources -->
			<h2>Inspiration from:</h2>
			
			<li><a href="https://www.sydneyplantguy.com/" rel="noopener noreferrer" target="_blank">Sydney Plant Guy</a> | <a href="https://www.youtube.com/@sydneyplantguy" target="_blank">YouTube</a></li>
			<li><a href="https://www.serpadesign.com/" rel="noopener noreferrer" target="_blank">Serpadesign</a> | <a href="https://www.youtube.com/@SerpaDesign" target="_blank">YouTube</a></li>
			
			<h2>Credits:</h2>
			<li><a href="https://www.flaticon.com/free-icons/leaves" rel="noopener noreferrer" target="_blank" title="leaves icons">Leaves icons created by Maan Icons - Flaticon</a></li>
		</article>
	</main>
</Layout>