---
import Layout from '../layouts/Layout.astro';
import "../style/nav_footer.css";
import "../style/index_style.css";
---

<Layout title="See's Garten">
	<main>
		<h1>HOME</h1>

		<article>
			<h2>Willkommen auf meiner Webseite!</h2>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam cumque, expedita libero modi doloribus aliquam mollitia natus tempore reiciendis odit neque magni veniam? Dolore, harum unde! Nam, labore incidunt.</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam cumque, expedita libero modi doloribus aliquam mollitia natus tempore reiciendis odit neque magni veniam? Dolore, harum unde! Nam, labore incidunt.</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam cumque, expedita libero modi doloribus aliquam mollitia natus tempore reiciendis odit neque magni veniam? Dolore, harum unde! Nam, labore incidunt.</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam cumque, expedita libero modi doloribus aliquam mollitia natus tempore reiciendis odit neque magni veniam? Dolore, harum unde! Nam, labore incidunt.</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam cumque, expedita libero modi doloribus aliquam mollitia natus tempore reiciendis odit neque magni veniam? Dolore, harum unde! Nam, labore incidunt.</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam cumque, expedita libero modi doloribus aliquam mollitia natus tempore reiciendis odit neque magni veniam? Dolore, harum unde! Nam, labore incidunt.</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam cumque, expedita libero modi doloribus aliquam mollitia natus tempore reiciendis odit neque magni veniam? Dolore, harum unde! Nam, labore incidunt.</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam cumque, expedita libero modi doloribus aliquam mollitia natus tempore reiciendis odit neque magni veniam? Dolore, harum unde! Nam, labore incidunt.</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam cumque, expedita libero modi doloribus aliquam mollitia natus tempore reiciendis odit neque magni veniam? Dolore, harum unde! Nam, labore incidunt.</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam cumque, expedita libero modi doloribus aliquam mollitia natus tempore reiciendis odit neque magni veniam? Dolore, harum unde! Nam, labore incidunt.</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam cumque, expedita libero modi doloribus aliquam mollitia natus tempore reiciendis odit neque magni veniam? Dolore, harum unde! Nam, labore incidunt.</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam cumque, expedita libero modi doloribus aliquam mollitia natus tempore reiciendis odit neque magni veniam? Dolore, harum unde! Nam, labore incidunt.</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam cumque, expedita libero modi doloribus aliquam mollitia natus tempore reiciendis odit neque magni veniam? Dolore, harum unde! Nam, labore incidunt.</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam cumque, expedita libero modi doloribus aliquam mollitia natus tempore reiciendis odit neque magni veniam? Dolore, harum unde! Nam, labore incidunt.</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam cumque, expedita libero modi doloribus aliquam mollitia natus tempore reiciendis odit neque magni veniam? Dolore, harum unde! Nam, labore incidunt.</p>
		</article>
	</main>
</Layout>