---
import Layout from '../layouts/Layout.astro';
import "../style/nav_footer.css";
import "../style/index_style.css";
import "../style/projects_page.css"
import Item from '../components/Item.astro';
---

<Layout title="See's Garten">
	<main>
		<h1>HOME</h1>

		<div class="container">
			<ul role="list" class="projects_items">
				<Item
					href='/'
					title='Monstera Deliciosa'
					type='Plant'
					img='/src/images/plants/Monstera Deliciosa.png'
				/>
				<Item
					href='/'
					title='Monstera Deliciosa'
					type='Plant'
					img='/src/images/plants/Monstera Deliciosa.png'
				/>
				<Item
					href='/'
					title='Monstera Deliciosa'
					type='Plant'
					img='/src/images/plants/Monstera Deliciosa.png'
				/>
				<Item
					href='/'
					title='Monstera Deliciosa'
					type='Plant'
					img='/src/images/plants/Monstera Deliciosa.png'
				/>
				<Item
					href='/'
					title='Monstera Deliciosa'
					type='Plant'
					img='/src/images/plants/Monstera Deliciosa.png'
				/>
				<Item
					href='/'
					title='Monstera Deliciosa'
					type='Plant'
					img='/src/images/plants/Monstera Deliciosa.png'
				/>
			</ul>
		</div>
	</main>
</Layout>

<style>
	ul{
		column-count: 2;
	}
</style>