---
import Layout from '../layouts/Layout.astro';
import "../style/nav_footer.css";
import "../style/index_style.css";
import Item from '../components/Item.astro';
---

<Layout title="See's Garten">
	<main>
		<h1>HOME</h1>

		<ul role="list" class="projects_items">
			<Item
				href='/'
				body='lol'
				title='krass'
			/>
		</ul>
	</main>
</Layout>