@import "project_item.css";

/*hide elements for filter*/
div.hidden {
    display: none;
}

ul {
    column-count: 3;
    display: flex;
    width: 1065px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
}

.project-nav {
    display: flex;
    width: 1065px;
    align-items: center;
    gap: 28px;
}

.project-nav-content {
    display: flex;
    width: 984px;
    height: 54px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--foreground);
}

.project-nav-add {
    display: flex;
    width: 54px;
    height: 54px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--foreground);
}

.project-nav-content a {
    color: var(--Content-on-primary);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}