.link-card {
    display: flex;
    width: 21rem;
    height: 21rem;
    padding: 1rem 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
    border-radius: 2rem;
    background: var(--foreground);
}
h2 {
    flex-shrink: 0;
    color: var(--content-on-primary);
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
p {
    color: var(--content-on-primary);
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    padding: 0.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    color: var(--content-on-primary);
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    padding: 0.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

img {
    width: 14rem;
    height: 14rem;
    flex-shrink: 0;
}