<!-- Header mit Navigation -->
<header id="header">
    <nav id="nav">
        <ul id="navbar" class="navbar">
            <li><a class="home" href="/">Home</a></li>

            <!-- Dropdown-Menü für Projekte -->
            <li class="dropdown">
                <a class="projectsNav" href="/projects#/all">Projects</a>
                <div class="dropdown-content">
                    <a href="projects#/plants">Plants</a>
                    <a href="projects#/animals">Animals</a>
                    <a href="projects#/projects">Projects</a>
                    <a href="projects#/equipment">Equipment</a>
                </div>
            </li>
            
            <li><a class="about" href="about">About</a></li>
        </ul>
    </nav>
</header>
