<header id="header">
    <nav id="nav">
        <ul id="navbar" class="navbar">
            <li><a class="home" href="/">Home</a></li>
            <li class="dropdown">
                <a class="projectsNav" href="/projects#/all">Projekte</a>
                <div class="dropdown-content">
                    <a href="projects#/projects">Projekte</a>
                    <a href="projects#/plants">Pflanzen</a>
                    <a href="projects#/animals">Tiere</a>
                </div>
            </li>
            <li><a class="about" href="about">Über mich</a></li>
        </ul>
    </nav>
</header>