---
interface Props {
	title: string;
	img: string;
	type: string;
	href: string
}

const { href, title, img, type} = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}
		</h2>
		<p>
			{type}
		</p>
		<img src={img} alt="">
	</a>
</li>