---
import '../style/projectPopup.css'

import {db, Plants} from 'astro:db';


if (Astro.request.method === 'POST') {
  try {
    const formData = await Astro.request.formData();
    switch (formData.get('dbtype')){
      case 'plant':
        const type = formData.get('type');
        const name = formData.get('name');
        const lat_name = formData.get('lat_name');
        const picture = formData.get('picture');
        const size = formData.get('size');
        const propergation = formData.get('propergation');
        const light = formData.get('light');
        const water = formData.get('water');
        const notes = formData.get('notes');
        if (
          typeof name === 'string' && 
          typeof type === 'string' && 
          typeof lat_name === 'string' && 
          typeof picture === 'string' && 
          typeof size === 'string' && 
          typeof propergation === 'string' && 
          typeof light === 'string' && 
          typeof water === 'string' && 
          typeof notes === 'string') {
          // Insert form data into the Comment table
          await db.insert(Plants).values({ 
            name, 
            lat_name, 
            type, 
            size, 
            picture, 
            propergation, 
            light, 
            water, 
            notes });
        }
        break;
      case 'animal':
        break;
      case 'project':
        break;
      case 'equipment':
        break;
      } 
  }
  catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
    
}

// Render the new list of comments on each request
const comments = await db.select().from(Plants);
---

<form method="POST" style="display: grid">

  <label class="dbtype">Type
    <select name="dbtype" required>
      <option value="plant">Plant</option>
      <option value="animal">Animal</option>
      <option value="project">Project</option>
      <option value="equipment">Equipment</option>
    </select>
  </label>

	<label>Name
    <input type="text" name="name" required/>
  </label>

  <label>lat. Name
    <input type="text" name="lat_name"/>
  </label>

  <label>Type
    <input type="text" name="type"/>
  </label>

  <label>Picture
    <input type="text" name="picture"/>
  </label>

  <label>Size
    <input type="text" name="size"/>
  </label>

  <label>Propergation
    <input type="text" name="propergation"/>
  </label>

  <label>Light
    <input type="text" name="light"/>
  </label>

  <label>Water
    <input type="text" name="water"/>
  </label>

  <label>Notes
    <input type="text" name="notes"/>
  </label>
	
  <div class="container buttons">
    <button data-cancel-button type="reset">Cancel</button>
    <button type="submit">Submit</button>
  </div>

  <script>
    const buttons = document.querySelectorAll('[data-cancel-button]');
    buttons.forEach( (button) => {
      button.addEventListener('click', () => {
        const addPopup = document.getElementById("popupContainer");
        addPopup?.classList.add("hidden");
      });
    })
  </script>

</form>