---

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header id="header">
			<nav id="nav">
				<ul id="navbar" class="navbar">
					<li><a class="home" href="/">Home</a></li>
					<li class="dropdown">
						<a class="projects" href="/projects#/projects/all">Projekte</a>
						<div class="dropdown-content">
							<a href="projects#/projects/projects">Projekte</a>
							<a href="projects#/projects/plants">Pflanzen</a>
							<a href="projects#/projects/animals">Tiere</a>
						</div>
					</li>
					<li><a class="about" href="about">Über mich</a></li>
				</ul>
			</nav>
		</header>

		<slot />

		<footer>
			<h2>Kontakt</h2>
			<p>Hier kannst du deine Kontaktdaten einfügen.</p>
			<p>&copy; 2024 Meine Webseite. Alle Rechte vorbehalten.</p>
		</footer>
	</body>
</html>